In [1]:
#importing libs
import pandas as pd
import numpy as np

In [51]:
#importing data
Netflix_sd = pd.read_csv('G:/Data_Set/NETFLIX/netflix_show_discription.csv')
title2 = pd.read_csv('G:/Data_Set/NETFLIX/netflix_titles.csv')
SD = pd.read_csv('G:/Data_Set/NETFLIX/show_discription.csv')

In [53]:
#Cleaing the data 
Netflix_sd = Netflix_sd.dropna()
title2 = title2.dropna()
SD = SD.dropna()

In [54]:
print(Netflix_sd)
print(title2)
print(SD)

     show_id                                        description
0         s1  In a future where the elite inhabit an island ...
1         s2  After a devastating earthquake hits Mexico Cit...
2         s3  When an army recruit is found dead, his fellow...
3         s4  In a postapocalyptic world, rag-doll robots hi...
4         s5  A brilliant group of students become card-coun...
...      ...                                                ...
7782   s7783  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784  A scrappy but poor boy worms his way into a ty...
7784   s7785  In this documentary, South African rapper Nast...
7785   s7786  Dessert wizard Adriano Zumbo looks for the nex...
7786   s7787  This documentary delves into the mystique behi...

[7787 rows x 2 columns]
Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, Unnamed: 11]
Index: []
     show_id                                        description
0         s1  In a future where the elite inhabit an island ...
1         s2  After a devastating earthquake hits Mexico Cit...
2         s3  When an army recruit is found dead, his fellow...
3         s4  In a postapocalyptic world, rag-doll robots hi...
4         s5  A brilliant group of students become card-coun...
...      ...                                                ...
7782   s7783  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784  A scrappy but poor boy worms his way into a ty...
7784   s7785  In this documentary, South African rapper Nast...
7785   s7786  Dessert wizard Adriano Zumbo looks for the nex...
7786   s7787  This documentary delves into the mystique behi...

[7787 rows x 2 columns]

In [27]:
#getting cloumn name
list(Netflix_sd)

['show_id', 'description']

In [55]:
list(title2)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'Unnamed: 11']

In [32]:
list(SD)

['show_id', 'description']

In [56]:
#removing coloums
title2.drop(columns=['date_added','cast','listed_in'])

Empty DataFrame
Columns: [show_id, type, title, director, country, release_year, rating, duration, Unnamed: 11]
Index: []

In [58]:
#merging two dataframes
Df3 = pd.merge(Netflix_sd, title2, how="left")

In [61]:
list(Df3)

['show_id',
 'description',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'Unnamed: 11']

In [63]:
#replacing NAN
Df3 = Df3.fillna("NA")

In [64]:
print(Df3)

     show_id                                        description type title  \
0         s1  In a future where the elite inhabit an island ...   NA    NA
1         s2  After a devastating earthquake hits Mexico Cit...   NA    NA
2         s3  When an army recruit is found dead, his fellow...   NA    NA
3         s4  In a postapocalyptic world, rag-doll robots hi...   NA    NA
4         s5  A brilliant group of students become card-coun...   NA    NA
...      ...                                                ...  ...   ...
7782   s7783  When Lebanon's Civil War deprives Zozo of his ...   NA    NA
7783   s7784  A scrappy but poor boy worms his way into a ty...   NA    NA
7784   s7785  In this documentary, South African rapper Nast...   NA    NA
7785   s7786  Dessert wizard Adriano Zumbo looks for the nex...   NA    NA
7786   s7787  This documentary delves into the mystique behi...   NA    NA

     director cast country date_added release_year rating duration listed_in  \
0          NA   NA      NA         NA           NA     NA       NA        NA
1          NA   NA      NA         NA           NA     NA       NA        NA
2          NA   NA      NA         NA           NA     NA       NA        NA
3          NA   NA      NA         NA           NA     NA       NA        NA
4          NA   NA      NA         NA           NA     NA       NA        NA
...       ...  ...     ...        ...          ...    ...      ...       ...
7782       NA   NA      NA         NA           NA     NA       NA        NA
7783       NA   NA      NA         NA           NA     NA       NA        NA
7784       NA   NA      NA         NA           NA     NA       NA        NA
7785       NA   NA      NA         NA           NA     NA       NA        NA
7786       NA   NA      NA         NA           NA     NA       NA        NA

     Unnamed: 11
0             NA
1             NA
2             NA
3             NA
4             NA
...          ...
7782          NA
7783          NA
7784          NA
7785          NA
7786          NA

[7787 rows x 13 columns]

In [65]:
#sorting data
Df3 = Df3.sort_values(by = 'release_year', ascending=False)

In [66]:
print(Df3)

     show_id                                        description type title  \
0         s1  In a future where the elite inhabit an island ...   NA    NA
5171   s5172  After an ugly divorce, a wealthy but unhappy m...   NA    NA
5199   s5200  Rich kid Teto is determined to prove himself t...   NA    NA
5198   s5199  From how social media can ruin relationships t...   NA    NA
5197   s5198  Droll comic Ricardo Quevedo hits Bogotá with a...   NA    NA
...      ...                                                ...  ...   ...
2591   s2592  When a con man tries to retrieve a bag of mone...   NA    NA
2590   s2591  Wanting his missing father to come home, a Kas...   NA    NA
2589   s2590  The Vietnam War's horrors come brutally to lif...   NA    NA
2588   s2589  Love blooms when kind-hearted Avinash takes in...   NA    NA
7786   s7787  This documentary delves into the mystique behi...   NA    NA

     director cast country date_added release_year rating duration listed_in  \
0          NA   NA      NA         NA           NA     NA       NA        NA
5171       NA   NA      NA         NA           NA     NA       NA        NA
5199       NA   NA      NA         NA           NA     NA       NA        NA
5198       NA   NA      NA         NA           NA     NA       NA        NA
5197       NA   NA      NA         NA           NA     NA       NA        NA
...       ...  ...     ...        ...          ...    ...      ...       ...
2591       NA   NA      NA         NA           NA     NA       NA        NA
2590       NA   NA      NA         NA           NA     NA       NA        NA
2589       NA   NA      NA         NA           NA     NA       NA        NA
2588       NA   NA      NA         NA           NA     NA       NA        NA
7786       NA   NA      NA         NA           NA     NA       NA        NA

     Unnamed: 11
0             NA
5171          NA
5199          NA
5198          NA
5197          NA
...          ...
2591          NA
2590          NA
2589          NA
2588          NA
7786          NA

[7787 rows x 13 columns]